.container
{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.nav
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}
.form
{
    grid-column-start: 2;
    grid-column-end: 3;
}
.tab-content
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
}